<!DOCTYPE html>
<html>

<head>
    <title>Agent Nina</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/all.min.css">
    <meta charset="UTF-8">
</head>

<header>
    <p>Version 0.2.0</p>
    <img src="images/Agent150.png">
    <nav>
        <ul>
            <li><a href="#"><i class="fa-solid fa-gauge"></i> <span>Dashboard</span></a></li>
            <li><a href="#"><i class="fa-solid fa-wrench"></i> <span>Modules</span></a></li>
        </ul>
    </nav>
</header>