<%- include('../partials/head'); %>
    <main id="dashboard" class="main-block">
        <div class="block-generique block-module-ping">
            <h3>Modules - Website</h3>
            <div class="block-col-gen">
                <p>État du module: <span>***</span></p>
                <p>Ping du module: <span>***</span></p>
                <p>Version: <span>***</span></p>
                <p>Description: <span>***</span></p>
            </div>
        </div>
    </main>
    <%- include('../partials/foot'); %>